@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("./static/fonts/NotoSansKR-Thin.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-Thin.woff") format('woff'),
  url("./static/fonts/NotoSansKR-Thin.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 200;
  src: url("./static/fonts/NotoSansKR-Light.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-Light.woff") format('woff'),
  url("./static/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 300;
  src: url("./static/fonts/NotoSansKR-DemiLight.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-DemiLight.woff") format('woff'),
  url("./static/fonts/NotoSansKR-DemiLight.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  src: url("./static/fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-Regular.woff") format('woff'),
  url("./static/fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("./static/fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-Medium.woff") format('woff'),
  url("./static/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("./static/fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("./static/fonts/NotoSansKR-Bold.woff") format('woff'),
  url("./static/fonts/NotoSansKR-Bold.otf") format('truetype')
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans CJK KR', sans-serif;
  color: #323D45;
}